<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{ titleBar }}</h4>
                        <p class="card-category">Conjunto</p>
                    </div>
                    <div class="card-body">
                        <form *ngIf="formGroup" [formGroup]="formGroup" (submit)="submitFormAction()">
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field>
                                        <input matInput formControlName="name" placeholder="Nombre del conjunto de palabras" maxlength="100" required />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div formArrayName="words">
                                <button mat-raised-button type="button" class="btn" (click)="addWordFormControl()">+ Añadir palabra</button>

                                <div *ngFor="let word of wordsFormArray.controls; let i=index">
                                    <mat-card class="mat-elevation-z8 mt-2">
                                        <div class="row" [formGroupName]="i">
                                            <div class="col-md-2">
                                                <i *ngIf="!word.get('imageUrl').value" class="material-icons-outlined"  [style.font-size]="'100px'" >image</i>
                                                <img *ngIf="word.get('imageUrl').value" src="{{word.get('imageUrl').value}}" width="100px" height="100px" />
                                            </div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field>
                                                            <input matInput formControlName="value" placeholder="Nombre" type="text" maxlength="13" required />
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="button" mat-button class="btn btn-outline-danger pull-right" (click)="searchInArasaac(word.get('value').value, wordSelectImageModal, i)" matTooltip="Buscar">
                                                            Buscar imagen
                                                            <mat-icon>search</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="word.get('imageUrl').value">
                                                    <div class="col-md-1">
                                                        <div class="row">
                                                            <label>Plural:</label>
                                                        </div>
                                                        <div class="row ml-2">
                                                            <mat-checkbox formControlName="plural" [checked]="pluralChecked(word.get('imageUrl').value)" (change)="pluralChanged(i, $event.checked)"></mat-checkbox>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="row">
                                                            <label>Tiempo verbal:</label>
                                                        </div>
                                                        <div class="row">
                                                            <mat-radio-group>
                                                                <mat-radio-button [checked]="pastChecked(word.get('imageUrl').value)" (change)="actionChanged(i, 'past')" class="ml-2" value="past">Pasado</mat-radio-button>
                                                                <mat-radio-button [checked]="presentChecked(word.get('imageUrl').value)" (change)="actionChanged(i, 'present')" class="ml-2" value="present">Presente / Nada</mat-radio-button>
                                                                <mat-radio-button [checked]="futureChecked(word.get('imageUrl').value)" (change)="actionChanged(i, 'future')" class="ml-2" value="future">Futuro</mat-radio-button>
                                                            </mat-radio-group>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-8">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Alumnos asignados:</mat-label>
                                        <mat-chip-list #chipList aria-label="Alumnos asignados">
                                            <mat-chip *ngFor="let student of selectedStudents" [selectable]="selectable" [removable]="removable" (removed)="removeAsignedStudent(student)">
                                                {{student.name}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input #studentInput placeholder="Asignar alumnos" [formControl]="studentsControl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (ngModelChange)="filterAvailableStudent()" (matChipInputTokenEnd)="addAsignedStudent($event)">
                                        </mat-chip-list>
                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedAsignedStudent($event)">
                                            <mat-option *ngFor="let student of filteredStudents" [value]="student">
                                                {{student.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">
                                Guardar
                            </button>
                            <button type="button" mat-raised-button class="btn btn-light pull-right" (click)="cancelFormAction()">
                                Cancelar
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #wordSelectImageModal let-modal>
    <div class="modal-header">
      <h3 class="modal-title"><strong>{{searchTerm}}</strong></h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <mat-grid-list cols="2" rowHeight="3:4" [gutterSize]="'20px'">
            <mat-grid-tile *ngFor="let wordImage of wordImages">
                <mat-card class="card border mat-elevation-z16" role="button" (click)="selectImage('https://api.arasaac.org/api/pictograms/' + wordImage + '?download=false')">
                    <img mat-card-image class="mt-2" src="{{'https://api.arasaac.org/api/pictograms/' + wordImage + '?download=false'}}" />
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-template>
