<ng-container class="container">
    <div class="card mx-auto my-auto" style="width: 30rem; border-radius: 1rem; height: fit-content">
        <div class="card-body">
            <h3 class="card-title" style="text-align: center;">Inicio de sesión</h3>
            <form class="card-text" style="margin-left: 10%;" [formGroup]="loginForm" (submit)="onSubmit()">
                <ng-container>
                    <label for="email-form-input" style="margin-top: 1rem; width: 100%;">Email</label>

                    <input id="email-form-input" placeholder="ejemplo@school-app.com" type="text" formControlName="email" required/>
                </ng-container>

                <ng-container>
                    <label for="password-form-input" style="margin-top: 1rem; width: 100%;">Contraseña:</label>

                    <input id="password-form-input" placeholder="•••••••••••" type="password" formControlName="password" required/>
                </ng-container>

                <button class="btn btn-primary submit-login rounded-pill" type="submit" style="margin-top: 1.5rem;">Iniciar sesión</button>
            </form>
            ¿No tiene cuenta? <a routerLink="/public/register">Regístrese</a>
        </div>
    </div>
</ng-container>
