<app-generic-list #genericList *ngIf="classrooms && columnsDefinitions"
    [headerButtons]="headerButtons"
    [listTitle]="'Listado de clases'"
    [listSubtitle]="'Clases'"
    [dataList]="classroomsForDataSourceModel"
    [columns]="columnsDefinitions"
    (deleteRowEvent)="deleteClassroom($event)"
    (editRowEvent)="editClassroom($event)"
    (showRowInformationEvent)="showClassroomInformation($event, classroomInformationModal)"
>
</app-generic-list>

<ng-template #classroomInformationModal let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title">Información de la clase</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="classroomToShow">
        <p><strong class="text-primary">Nombre de la clase: </strong><span>{{ classroomToShow.name }}</span></p>
        <p><strong class="text-primary">Nombre del colegio: </strong><span>{{ classroomToShow.schoolName }}</span></p>
        <p><strong class="text-primary">Curso: </strong><span>{{ classroomToShow.schoolGrade }}</span></p>
        <p><strong class="text-primary">Descripción: </strong><span>{{ classroomToShow.description }}</span></p>
        <p>
            <strong class="text-primary">Code: </strong><span>{{ classroomToShow.code }}</span>
            <button mat-icon-button (click)="copyCodeToClipboard()" matTooltip="Copiar código en el portapapeles">
                <mat-icon>content_copy</mat-icon>
            </button>
        </p>
      </ng-container>
    </div>
  </ng-template>
