<div class="col-md-6">
    <div class="card card-chart">
        <div class="card-header card-header-success">
            <div class="ct-chart" id="gameplayDuration"></div>
            <button type="button" class="pull-right" mat-button mat-icon-button (click)="showDurationChartDetails(durationChartDetailModal)" matTooltip="Detalles">
                <mat-icon>zoom_in</mat-icon>
            </button>
        </div>
        <div class="card-body">
            <h4 class="card-title">Tiempo de juego</h4>
        </div>
        <div class="card-footer">
            <div class="stats">
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card card-chart">
        <div class="card-header card-header-warning">
            <div class="ct-chart" id="winLoseChart"></div>
            <button type="button" class="pull-right" mat-button mat-icon-button (click)="showWinLoseChartDetails(winLoseChartDetailModal)" matTooltip="Detalles">
                <mat-icon>zoom_in</mat-icon>
            </button>
        </div>
        <div class="card-body">
            <h4 class="card-title">Victorias / Derrotas</h4>
        </div>
        <div class="card-footer">
            <div class="stats">
            </div>
        </div>
    </div>
</div>

<ng-template #durationChartDetailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ selectedChartModalTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                    <div class="row align-items-center">
                        <div class="col-md-1">
                            <button type="button" class="d-inline-flex float-start" mat-button mat-icon-button (click)="moveLeftDurationChartDetails()">
                                <mat-icon>arrow_back_ios</mat-icon>
                            </button>
                        </div>
                        <div class="col-md-10">
                            <div class="ct-chart" id="selectedChartDetail"></div>
                            <br><br>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="d-inline-flex float-end" mat-button mat-icon-button (click)="moveRigthDurationChartDetails()">
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #winLoseChartDetailModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ selectedChartModalTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div class="row align-items-center">
                        <div class="col-md-1">
                            <button type="button" class="d-inline-flex float-start" mat-button mat-icon-button (click)="moveLeftWinLoseChartDetails()">
                                <mat-icon>arrow_back_ios</mat-icon>
                            </button>
                        </div>
                        <div class="col-md-10">
                            <div class="ct-chart" id="selectedChartDetail"></div>
                            <br><br>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="d-inline-flex float-end" mat-button mat-icon-button (click)="moveRigthWinLoseChartDetails()">
                                <mat-icon>arrow_forward_ios</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
