<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">emoji_events</i>
            </div>
            <p class="card-category">Victorias</p>
            <h3 class="card-title">{{data.winLosseStatistics.wins}}</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <p>Ratio de victorias: {{data.winLosseStatistics.wins + '/' + (data.winLosseStatistics.wins + data.winLosseStatistics.losses)}} ({{(100 * data.winLosseStatistics.wins / (data.winLosseStatistics.wins + data.winLosseStatistics.losses)).toFixed(2)}}%)</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
                <i class="material-icons">sentiment_dissatisfied</i>
            </div>
            <p class="card-category">Derrotas</p>
            <h3 class="card-title">{{data.winLosseStatistics.losses}}</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <p>Ratio de derrotas: {{data.winLosseStatistics.losses + '/' + (data.winLosseStatistics.wins + data.winLosseStatistics.losses)}} ({{(100 * data.winLosseStatistics.losses / (data.winLosseStatistics.wins + data.winLosseStatistics.losses)).toFixed(2)}}%)</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
                <i class="material-icons">trending_up</i>
            </div>
            <p class="card-category">Mejor racha</p>
            <h3 class="card-title">{{this.data.winLosseStatistics.maxConsecutiveWins}}</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <p>Racha actual: {{this.data.winLosseStatistics.consecutiveWins}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
                <i class="material-icons">schedule</i>
            </div>
            <p class="card-category">Tiempo jugado</p>
            <h3 class="card-title">{{getStringTime(data.durationStatistics.total)}}</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <p>Media por partida {{getStringTime(data.durationStatistics.avg)}}</p>
            </div>
        </div>
    </div>
</div>
