<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Conjuntos privados">
        <app-generic-list #privateDatasetsTab *ngIf="wordsDatasets && columnsDefinitions"
            [headerButtons]="headerButtons"
            [listTitle]="'Conjuntos de palabras'"
            [listSubtitle]="'Privados'"
            [dataList]="wordsDatasetsForDataSourceModelPrivate"
            [columns]="columnsDefinitions"
            (deleteRowEvent)="deleteWordDataset($event)"
            (editRowEvent)="editWordDataset($event)"
            (showRowInformationEvent)="showWordDataset($event, wordDatasetInformationModal)"
        >
        </app-generic-list>
    </mat-tab>
    <mat-tab label="Conjuntos publicos">
        <app-generic-list #publicDatasetsTab *ngIf="wordsDatasets && columnsDefinitions"
            [headerButtons]="null"
            [listTitle]="'Conjuntos de palabras'"
            [listSubtitle]="'Públicos'"
            [dataList]="wordsDatasetsForDataSourceModelPublic"
            [columns]="columnsDefinitions"
            [isEditButtonVisible]="false"
            [isDeleteButtonVisible]="false"
            (deleteRowEvent)="null"
            (editRowEvent)="null"
            (showRowInformationEvent)="showWordDataset($event, wordDatasetInformationModal)"
        >
        </app-generic-list>
    </mat-tab>
</mat-tab-group>

<ng-template #wordDatasetInformationModal let-modal>
    <div class="modal-header">
      <h3 class="modal-title"><strong>{{wordDatasetToShow.name}}</strong></h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-container *ngIf="wordDatasetToShow">
        <mat-grid-list cols="2" rowHeight="3:4" [gutterSize]="'20px'">
            <mat-grid-tile *ngFor="let word of wordDatasetToShow.words">
                <mat-card class="card border mat-elevation-z16">
                    <mat-card-title class="text-center">{{word.value}}</mat-card-title>
                    <mat-divider [inset]="true"></mat-divider>
                    <img mat-card-image class="mt-2" src="{{word.imageUrl}}" />
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
    </div>
  </ng-template>

