input {
    width: 80%;
}

.submit-register {
    margin-top: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    width: 80%;
}

.labelBeforeSlide {
    vertical-align: top;
    line-height: 24px;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
}

.labelAfterSlide {
    vertical-align: top;
    line-height: 24px;
    margin-left:0.5rem;
    margin-bottom:0.5rem;
}
